{% extends "base.html" %}

{% block title %}You've Selected {% endblock %}

{% block content %}

<a href = "{% url 'welcome' %}">Home</a>
<br>
<br>
{% if wordbank %}
  <table>
    <thead>Cycle {{cyc_id}} Contestants</thead>
    {% for ml in my_list %}
    <tr>
      <td>{{ml}}</td>
    </tr>
    {% endfor %}
    </table>
  {% else %}
    <form>
      {% csrf_token %}
      {% for ml in my_list %}
      <textarea rows = 1 columns=20></textarea><br>
      {% endfor %}
      <br>
      <button type="submit">Submit</button>
      </form>
{% endif %}

{% endblock %}
