{% extends "base.html" %}

{% block title %} You've Selected! {% endblock %}

{% block content %}

<a href = "{% url 'welcome' %}">Home</a>
<br>
<br>
{% if wordbank %}
  <table>
    <thead>Cycle {{cyc_id}} Contestants</thead>
    {% for ml in my_list_shuff %}
    <tr>
      <td>{{ml}}</td>
    </tr>
    {% endfor %}
    </table>
  {% else %}
    <form id = 'myform' name = 'fillform' class='form-creation' method='POST'>
      <script>
        const data = {{my_list | safe}};
        const optList = {{options_list | safe}}
        </script>

      {% csrf_token %}
      {% for ml, opt in opt_list %}
        <input name = '{{ml}}' id = '{{ml}}' type='text' onKeyUp="showResults(this.id, this.value)" maxlength="20"></input><br>
        <ul id='{{opt}}'></ul>
        <script>
          function autocompleteMatch(input) {
            if (input == '') {
              return [];
            }
            var reg = new RegExp(input)
            return data.filter(function(term) {
          	  if (term.match(reg)) {
            	  return term;
          	  };
            });
          };

          function showResults(val1, val2) {
            var ind = data.indexOf(val1)
            var res = document.getElementById(optList[ind])
            var autocomplete = document.getElementById(val1)
            res.innerHTML = '';
            let list = '';
            let terms = autocompleteMatch(val2);
            for (i=0; i<terms.length; i++) {
              list += '<li>' + terms[i] + '</li>';
            }
            res.innerHTML = '<ul>' + list + '</ul>';
                      res.onclick= function (event) {
                        const setValue = event.target.innerText;
                        autocomplete.value = setValue;
                        this.innerHTML = '';
                      };
          };
        </script>

      {% endfor %}
      <button type="submit">Submit</button>
      </form>
    {% endif %}

{% endblock %}
