{% extends "base.html" %}

{% block title %} You've Selected! {% endblock %}

{% block content %}

<a href = "{% url 'welcome' %}">Home</a>
<br>
<br>
{% if wordbank %}
  <table>
    <thead>Cycle {{cyc_id}} Contestants</thead>
    {% for ml in my_list_shuff %}
    <tr>
      <td>{{ml}}</td>
    </tr>
    {% endfor %}
    </table>
  {% else %}
    <form id = 'myform' name = 'fillform' class='form-creation' method='POST'>
      <script>
        const data = {{my_list | safe}};
        </script>

      {% csrf_token %}
      {% for ml, opt in list_opt %}
        <input name = '{{ml}}' id = '{{ml}}' type='text' maxlength="20" onKeyUp="showResults(this.value)"></input><br>
        <ul id='{{opt}}'></ul>
        <script>
          // const autocomplete = document.getElementsById('slot1');
          // console.log(autocomplete);
          const res = document.getElementById("{{opt}}");

          function autocompleteMatch(input) {
            if (input == '') {
              return [];
            }
            var reg = new RegExp(input)
            return data.filter(function(term) {
          	  if (term.match(reg)) {
            	  return term;
          	  }
            });
          }

          function showResults(val) {
            res.innerHTML = '';
            let list = '';
            let terms = autocompleteMatch(val);
            for (i=0; i<terms.length; i++) {
              list += '<li>' + terms[i] + '</li>';
            }
            res.innerHTML = '<ul>' + list + '</ul>';
          }
        </script>

      {% endfor %}
      <button type="submit">Submit</button>
      </form>
    {% endif %}

{% endblock %}
